<div>
  <div class="row">
    <div>
      <h3>Reviewer name comes here</h3>
      <div>
        <p class="text-left"><span class="text-muted">Rating:
            {{recentReview.rating}}</span>
        </p>
      </div>
    </div>
    <div class="">
      <p class="">{{recentReview.reviewDate}}</p>
    </div>
  </div>
  <div class="row text-left">
    <p class="content">{{recentReview.reviewBody}}</p>
  </div>
</div>