{{#doctype}}{{/doctype}}
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>
      {{#if defaultTitle}}
        Get-A-Pet
      {{/if}}
      {{#if pageTitle}}
        {{pageTitle}}
      {{/if}}
    </title>

    {{! Bootstrap CSS CDN }}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {{! Custom CSS }}
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>

  <body class="bg-custom-color">

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand" href="/">Get-A-Pet</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link nav-link-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-dark" href="/pets">Pet Search</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-dark"
                href="/sheltersAndRescue"
              >Shelters and Rescues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-dark" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-dark" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-dark" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-dark" href="/helppage">Help Page</a>
            </li>
          </ul>
        </div>

        {{#login}}{{/login}}

      </nav>
    </header>

    <main class="container" id="main-container">
      {{{body}}}
    </main>

    <footer class="bg-success text-center text-lg-start footer fixed-bottom">
      Get-A-Pet is a not-for-profit website run to help reduce the amount of
      homeless pets on the street.
    </footer>

    {{! jQuery Uncompressed CDN }}
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    {{! Bootstrap required JS }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    {{! JS imported from web }}
    {{#if webImportedScript}}
      <script src="{{webImportedScript}}"></script>
    {{/if}}

    {{! Specific Page JS }}
    {{#if script}}
      <script src="../../../../public/js/{{script}}.js"></script>
    {{/if}}
  </body>

</html>