<h1>List of Shelters...</h1>
<div class="row">
    {{#each shelter}}


    <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
        <div class="mx-3 mt-4 card ">
            <img class="card-img-top" src={{profilePicture}} alt="garbage">
            <div class="card-body">
                <h5 class="card-title">Name: {{name}}</h5>
                <p class="card-text">Biography: {{biography}}</p>
                <a href="/individual-shelter" class="btn btn-primary stretched-link">View Shelter</a>
                <a href="/review" class="btn btn-primary stretched-link">Add Review</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Website: {{website}}</small>

            </div>
        </div>
    </section>
    {{/each}}
</div>