<h1>Help Page...</h1>
<div class="row">
    {{#each helppageData}}


    <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
        <div class="mx-3 mt-4 card ">
            <img class="card-img-top" src={{image}} alt="garbage">
            <div class="card-body">
                <h5 class="card-title">Name: {{name}}</h5>
                <p class="card-text">Biography: {{bio}}</p>
                <a href="/individual-shelter" class="btn btn-primary stretched-link">View Shelter</a>
            </div>
            <div class="card-footer">
                <p>Address:</p>
                {{#each address}}
                <small>{{.}}</small>
                {{/each}}
            </div>
        </div>
    </section>
    {{/each}}
</div>