<h1>Help Page : list of local resources</h1>
<div class="row">
    {{!-- {{#each shelter}} --}}
    <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
        <div class="mx-3 mt-4 card ">
            {{!-- <h3>Dummy Data</h3> --}}
            <img class="card-img-top" src="/public/images/dogpark.jfif" alt="garbage">
            <div class="card-body">
                <h5 class="card-title">Name: Stevens Park</h5>
                <p class="card-text">Biography: Community park offering a dog run</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Address:Hudson St, Hoboken, NJ 07030</small>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
        <div class="mx-3 mt-4 card ">
            {{!-- <h3>Dummy Data</h3> --}}
            <img class="card-img-top" src="/public/images/vetimage.jpg" alt="garbage">
            <div class="card-body">
                <h5 class="card-title">Name: Animal Infirmary of Hoboken</h5>
                <p class="card-text">Biography: Bio/description for Animal Infirmary of Hoboken </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Address:600 Adams St, Hoboken, NJ 07030</small>
            </div>
        </div>
    </section>
    <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
        <div class="mx-3 mt-4 card ">
            {{!-- <h3>Dummy Data</h3> --}}
            <img class="card-img-top" src="/public/images/petstore.png" alt="garbage">
            <div class="card-body">
                <h5 class="card-title">Name: Hoboken Pet</h5>
                <p class="card-text">Biography: Hoboken pet offers great products for you beloved pets.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Address:524 Washington St, Hoboken, NJ 07030</small>
            </div>
        </div>
    </section>
    {{!-- {{/each}} --}}
</div>