<br>
<form>
    <div class="form-row">
        <div class="col">
            <label>First name</label>
            <input type="text" class="form-control" name="firstName" placeholder="Enter First name">
        </div>
        <div class="col">
            <label>Last name</label>
            <input type="text" class="form-control" name="lastName" placeholder="Enter Last name">
        </div>
    </div><br>
    <div class="form-row">
        <div class="col">
            <label>Contact Number</label>
            <input type="text" class="form-control" name="contactNumber" placeholder="Enter Contact Number">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
                placeholder="name@example.com">
        </div>
    </div><br>
    <div class="form-row">
        <div class="col">
            <label>Address Line 1</label>
            <input type="text" class="form-control" name="addressLine1" placeholder="Enter Address Line 1">
        </div>
        <div class="col">
            <label>Address Line 2</label>
            <input type="text" class="form-control" name="addressLine2" placeholder="Enter Address Line 2">
        </div>
    </div><br>
    <div class="form-row">
        <div class="col">
            <label>City/Town</label>
            <input type="text" class="form-control" name="city" placeholder="Enter City/Town">
        </div>
        <div class="col">
            <label>State / Province / Region</label>
            <input type="text" class="form-control" name="state" placeholder="Enter State / Province / Region">
        </div>
    </div><br>
    <div class="form-row">
        <div class="col">
            <label>Zip / Postal Code</label>
            <input type="text" class="form-control" name="zipCode" placeholder="Enter Zip / Postal Code">
        </div>
        <div class="col">
            <label>Country</label>
            <input type="text" class="form-control" name="country" placeholder="Enter Country">
        </div>
    </div><br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Please explain why would you like to Volunteer.</label>
        <textarea class="form-control" name="explainText" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div><br>
    <div class="form-group">
        <button id="submit-button" type="button" class="btn btn-success">Submit</button>
    </div>
</form>