.user-bg {
  background-color: rgb(247, 242, 242);
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.profile-picture {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.spacing {
  padding-top: 20px;
  padding-top: 20px;
}

#user-photo {
  background-color: white;
}

#profile-title {
  background-color: white;
}

#info {
  background-color: white;
}

#formSpacing {
  margin-bottom: 0rem;
}

.bg-card-header {
  background-color: white;
}

.bg-custom-color {
  background-color: #edf5e1;
}

.carousel-small {
  max-width: 50%;
}

.carousel {
  height: 400px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.pet-carousel-bg {
  background: rgb(44, 44, 44);
}

#individualShelter label {
  font-weight: bolder;
}

#individualShelterRating {
  margin-top: 40px;
}

#individualShelter .rowDetail {
  margin-bottom: 15px;
}

.card-img-top {
  max-height: 250px;
  min-height: 250px;
  object-fit: cover;
}

.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
}

label input {
  margin-right: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  width: 100px;
}

.choose-animal-type:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.fill-width {
  flex: 1;
}

.messages-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
}

.message-recipient,
.message-user {
  display: flex;
  flex-shrink: 0;
}

.message-recipient {
  margin-right: auto;
}

.message-user {
  flex-direction: row-reverse;
  margin-left: auto;
}

.bg-user {
  background-color: #a2aab1 !important;
}

.bg-recipient {
  background-color: #e6e8eb !important;
}

.pet-search-container {
  width: 75%;
}

li.favPets {
  float: left;
}

.nav-link-dark {
  color: #003400 !important;
}

.pet-card-name {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.btn-success {
  background-color: #008a00;
}

.btn-primary {
  background-color: #0072ee;
}

.link-on-pet-page,
.reviewSuccess {
  color: #008a00;
}

.error {
  color: #ff0000;
}

.homepagePetCardButton {
  position: absolute;
  margin-top: 13px;
  bottom: 10px;
  left: 0;
  right: 0;
}

.homepagePetCardImage {
  padding-top: 5%;
  padding-bottom: 2%;
  width: 18rem;
  height: 15rem;
  object-fit: cover;
}

.homepagePetCard {
  width: 20rem;
  height: 26rem;
}

.homepagePetCardBio {
  text-align: center;
  padding: 0% 5% 0% 5%;
}

#homepagePetCatalouge {
  padding-top: 5px;
}

#homepagePetCounter,
#homepageUserVolunteer {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

#homepageUserVolunteer {
  text-align: center;
  font-weight: bold;
}

#srSignup {
  width: 100%;
}

#loginButton {
  height: 60px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

#login-form,
#shelterRescue-signupForm,
#petOwner-signupForm {
  padding-top: 10px;
}

#error {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 15px;
  color: #d8000c;
}

.footer {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.faqquestion {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 35px;
}
.faqtitle {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 35px;
}
.helppagetitle {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.error {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 15px;
  color: #d8000c;
}
.listofshelters {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 35px;
}
.carouselLabel,
.noShelterPets {
  color: #ffa500;
}

.cardheadProfile {
  font-weight: 500;
}

.addpets {
  float: right;
}

#volunteerForm {
  margin-top: 50px;
}
