.bg-custom-color {
    background-color: #edf5e1;
}

.carousel-small {
    max-width: 50%;
}

.carousel {
    height: 300px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}

.carousel-item {
    text-align: center;
}

.pet-carousel-bg {
    background: rgb(44, 44, 44);
}

#individualShelter label {
    margin: 0px 30px;
    font-weight: bolder;
}

#individualShelter .rowDetail {
    margin-bottom: 15px;
}