<header>
    GetAPet
</header>

<main>
    <button onclick="location.href = '/login'" type="button" class="login">Shelter/Rescue - Log
        In</button>
    <br>
    <br>
    <button onclick="location.href = '/signup/sr'" type="button" class="signup">Shelter/Rescue - Sign
        Up</button>
    <br>
    <button onclick="location.href = '/signup/popa'" type="button" class="signup">Pet Owner/Adopter -
        Sign Up</button>
</main>