<div id="error">
  <ul id="errorList"></ul>
</div>

{{#if error}}
  <div id="errorFromRoutes">{{error}}</div>
{{/if}}

<form method="POST" id="login-form" action="/login">
  <label id="emailLabel" for="email">
    Enter E-Mail:
    <input type="email" name="email" id="email" />
  </label>
  <label id="passwordLabel" for="password">
    Enter Password:
    <input type="password" name="password" id="password" />
  </label>
  <br />
  <p>Select User Type:</p>
  <input type="radio" id="srUser" name="userType" value="srUser" />
  <label>Shelter/Rescue</label><br />
  <input type="radio" id="popaUser" name="userType" value="popaUser" />
  <label>Pet Owner/Pet Adopter</label>
  <br />
  <br />
  <button type="submit">Login</button>
</form>