<header>
    <h1>Shelter & Rescue Sign Up Page</h1>
</header>
<main>
    <div id="error">
        <ul id="errorList"></ul>
    </div>
    <p>(*) - Mandatory Field</p>
    <form method="POST" id="shelterRescue-signupForm" action="/signup/sr">
        <label for="email">Email Address: (*)</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password: (*)</label><br>
        <input type="password" id="password" name="password"><br>

        <label for="name">Shelter or Rescue Name: (*)</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="profilePicture">Profile Picture Public URL:</label><br>
        <input type="url" id="profilePicture" name="profilePicture"><br>

        <label for="location">Location: (*)</label><br>
        <div>
            <input type="hidden" name="country" id="countryId" value="US" />
            <select name="state" class="states order-alpha" id="stateId">
                <option value="">Select State</option>
            </select>
            <select name="city" class="cities order-alpha" id="cityId">
                <option value="">Select City</option>
            </select>
            <input type="text" id="streetId" name="street" placeholder="Street Address">
            <input type="text" id="apartmentId" name="apartment" placeholder="Apartment/Floor (Optional)">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//geodata.solutions/includes/statecity.js"></script>
        </div>

        <label for="biography">Biography: (*)</label><br>
        <input type="text" id="biography" name="biography"><br>

        <label for="phoneNumber">Phone Number: (*)</label><br>
        <input type="number" id="phoneNumber" name="phoneNumber"><br>

        <label for="website">Web Site:</label><br>
        <input type="url" id="website" name="website"><br>

        <p>Social Media (Enter Username):</p>
        <div>
            <label for="facebook">Facebook:</label><br>
            <input type="text" id="facebook" name="facebook"><br>
            <label for="instagram">Instagram:</label><br>
            <input type="text" id="instagram" name="instagram"><br>
            <label for="twitter">Twitter:</label><br>
            <input type="text" id="twitter" name="twitter"><br>
        </div>

        <button type="submit">Sign Up</button>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="/public/js/shelter&rescueSignup.js"></script>